.row-fluid
  .span6
    h1 Чего мы хотим добиться?
    ul.textlist.orangedot
      li: p.
        <b>Создать всестороннюю коллекцию работающих решений для 
        социальных вопросов.</b> Есть формальные механизмы, известные 
        юристам и&nbsp;чиновникам. Есть принципы самоорганизации и&nbsp;центры 
        координации, известные гражданским активистам и&nbsp;журналистам. 
        О них можно и&nbsp;нужно рассказывать. Но&nbsp;сделать 
        это можно только с&nbsp;Вашей помощью: как в&nbsp;создании, 
        так и в&nbsp;использовании и&nbsp;отборе лучших решений.
      li: p.
        <b>Сделать использование решений максимально простым и&nbsp;удобным.</b>
        Конечно, все мы&nbsp;очень заняты, нам&nbsp;&mdash; 
        не&nbsp;до&nbsp;проблем общества. Да-да, это очень важно, 
        но&nbsp;прямо сейчас&nbsp;&mdash; совершенно некогда. Вот если 
        только минут&nbsp;10, не&nbsp;больше. Значит, наша цель&nbsp;&mdash;
        сделать так, чтобы в&nbsp;эти 10&nbsp;минут в&nbsp;день 
        каждый мог сделать что-то полезное: и&nbsp;себе, и&nbsp;обществу. 
        Это&nbsp;&mdash; вызов и&nbsp;экспертам, и&nbsp;IT: 
        дизайнерам, инженерам&nbsp;UI, программистам.
      li: p.
        <b>Привлечь к&nbsp;участию в&nbsp;общественной жизни больше 
        граждан нашей страны.</b> Если мы&nbsp;создадим решения, сделаем 
        их&nbsp;удобными и&nbsp;доступными, докажем, что они 
        работают&nbsp;&mdash; нас обязательно будет становиться больше. 
        А&nbsp;значит&nbsp;&mdash; больше историй успеха, больше веса
        в&nbsp;диалоге с&nbsp;властью, больше возможностей построить здоровое 
        общество.
  .span6
    h1 Как мы это реализуем?
    p
      Сейчас мы&nbsp;делаем лишь первый шаг к&nbsp;реализации 
      задуманного. На&nbsp;первом этапе мы&nbsp;решаем следующие 
      задачи:
    ul.textlist.orangedot
      li: p.
        <b>Пошаговое представление решений и&nbsp;удобные 
        конструктивные элементы.</b> В&nbsp;основе <span class="orange">ВикиСоциума</span> &mdash;
        решение как пошаговая инструкция, с&nbsp;удобными 
        элементами: ввод данных, генерация документов по 
        шаблонам, загрузка <b>фото/видео материалов</b> и&nbsp;т.д.
      li: p.
        <b>Накопление и&nbsp;распространение информации о 
        положительной практике использования решений.</b> 
        Статистика, карты активности, рейтинги, комментарии и 
        предложения. Тесная интеграция с&nbsp;социальными сетями 
        и&nbsp;блогами.
      li: p.
        <b>Создание экспертного сообщества <span class="orange">ВикиСоциума</span>.</b>
        Первичное наполнение коллекции должно выполняться 
        настоящими профессионалами. Работа экспертов может 
        быть построена на&nbsp;принципах взаимовыгодного 
        <a href="/About/Partnership">сотрудничества</a>.
    p
      Но&nbsp;это только начало! Следующим шагом станет 
      ВикиСоциум 2.0&nbsp;&mdash; полностью наполняемый и&nbsp;управляемый 
      Вами. Вы&nbsp;можете <a href="/About/Help">помочь</a> сделать этот шаг быстрее!
