extends ../layout

block content
  .row-fluid
    .span9
      p Мы&nbsp;создаём <span class="orange">ВикиСоциум</span> для Вас, и&nbsp;нам нужна Ваша помощь. Помочь нетрудно&nbsp;&mdash; каждый может внести свою лепту:

  .row-fluid
    .span4
      h1(style="line-height: 64px")
        img(src="/images/icons/word.png", style="margin-right: 20px;")
        | Словом
      p.
        Расскажите о&nbsp;проекте своим знакомым, 
        напишите в&nbsp;ЖЖ и&nbsp;на&nbsp;стене в&nbsp;соц. сети. 
        Мы&nbsp;собираем решения для самых 
        актуальных проблем&nbsp;&mdash; они обязательно 
        пригодятся Вашим друзьям и&nbsp;коллегам. 
      p.
        Позовите тех, кто мог&nbsp;бы стать 
        экспертом или влиться в&nbsp;нашу команду. 
        Чем больше нас будет, тем быстрее мы 
        сможем собрать полезные решения, 
        накопить положительный опыт, стать 
        сильнее и&nbsp;активнее!
      p.
        Вы&nbsp;&mdash; журналист или активный блоггер? 
        Мы&nbsp;будем работать над тем, чтобы 
        предлагать Вам всё больше 
        информационных поводов: практика 
        решения социальных вопросов &mdash;
        истинный пульс общественной жизни.
    .span4
      h1(style="line-height: 64px")
        img(src="/images/icons/deed.png", style="margin-right: 20px;")
        | Делом
      p.
        Воспользуйтесь решениями <span class="orange">ВикиСоциума</span>
        и&nbsp;покажите другим, что они работают. 
        Поделитесь своим опытом, расскажите о 
        возникших трудностях. Только так мы 
        сможем отточить наши решения и 
        привлечь больше людей к&nbsp;активной 
        жизни в&nbsp;социуме! 
      p.
        Если Вы&nbsp;&mdash; юрист, гражданский активист, 
        политик или просто человек с&nbsp;опытом 
        решения социальных проблем&nbsp;&mdash; станьте 
        нашим экспертом! <a href="/About/Partnership">Здесь</a>&nbsp;&mdash; несколько 
        оснований для сотрудничества.
      p.
        Если Вы&nbsp;&mdash; IT-специалист, мы&nbsp;рады 
        предложить Вам влиться в&nbsp;нашу команду! 
        Мы&nbsp;работаем за&nbsp;счёт пожертвований, но 
        есть и&nbsp;другие, кроме денег, <a href="/About/Partnership">причины</a>
        поработать вместе.
    .span4
      h1(style="line-height: 64px")
        img(src="/images/icons/money.png", style="margin-right: 20px;")
        | Деньгами
      p.
        Наш проект – некоммерческий, и  
        команда работает на общественных 
        началах. Но для скорейшей реализации 
        задуманного, для предоставления Вам 
        полного спектра возможностей 
        <span class="orange">ВикиСоциума</span>, нам нужна Ваша 
        поддержка. Все пожертвования будут 
        идти на финансирование разработки и 
        поддержки сайта, о чём будут регулярно 
        публиковаться отчёты.
      p
        Пожалуйста, присылайте Вашу денежную помощь на Я.Кошелёк:
        div(style="margin-left:-72px; margin-top: -5px; margin-bottom: -5px; height:36; padding-top:0px; padding-bottom:0px;") <iframe allowtransparency="true" src="https://money.yandex.ru/embed/small.xml?uid=410011165863742&amp;button-text=04&amp;button-size=s&amp;button-color=orange&amp;targets=%d0%9f%d0%be%d0%b4%d0%b4%d0%b5%d1%80%d0%b6%d0%ba%d0%b0+%d0%bf%d1%80%d0%be%d0%b5%d0%ba%d1%82%d0%b0+%d0%92%d0%b8%d0%ba%d0%b8%d0%a1%d0%be%d1%86%d0%b8%d1%83%d0%bc&amp;default-sum=500" frameborder="0" height="36" scrolling="no" width="auto"></iframe>
      p
        Если Вы представляете фонд, осуществляющий поддержку общественных проектов, пожалуйста, оставляйте контакты для связи на 
        a(href="mailto:feedback@wikisocium.ru") feedback@wikisocium.ru