extends ../layout

block content
  .row-fluid(style="margin-bottom: 20px;")
    .span12
      p Мы решили создать <span class="orange">ВикиСоциум</span>, потому что верим, что:

  .row-fluid
    .span6    
      h1 Демократия&nbsp;&mdash; это гражданское общество
      p.
        Демократическое государство&nbsp;&mdash; это не&nbsp;слова в&nbsp;Конституции, не&nbsp;выборные процедуры и&nbsp;даже не&nbsp;принцип разделения 
        властей. Демократия&nbsp;&mdash; это общественный договор: &laquo;власть принадлежит народу&raquo;. А&nbsp;собственность, как известно,&nbsp;&mdash; не 
        только право, но&nbsp;и&nbsp;ответственность. Наша ответственность за&nbsp;управление нашей страной. Каждый день.
      h1 Гражданское общество не&nbsp;строится &laquo;сверху&raquo;
      p.
        К&nbsp;сожалению, наша реальность далека от&nbsp;идеала. Мы&nbsp;любим спрашивать: &laquo;кто виноват?&raquo; и&nbsp;отвечать: &laquo;власти&raquo;. Это они не 
        создали эффективных механизмов общественного контроля (над собой), это они не&nbsp;научили нас самоорганизации. Это 
        уже не&nbsp;смешно. Кто, если не&nbsp;мы&nbsp;с&nbsp;Вами?
      h1 Нужны ответы на&nbsp;вопрос &laquo;что делать?&raquo;
      p.
        Уже бесспорно, что Сеть&nbsp;&mdash; идеальное ядро кристаллизации общества, свободное сообщество мыслящих людей. Но&nbsp;её 
        потенциал ещё больше. Основные сетевые инструменты (соц. сети, блоги) предназначены для обсуждения, их&nbsp;центр &mdash;
        мнение, пресловутое &laquo;кто виноват?&raquo; Наши реалии требуют смещения фокуса на&nbsp;действие, где в&nbsp;центре&nbsp;&mdash; решение, ответ на&nbsp;вопрос &laquo;что делать?&raquo;
    .span1
    .span5
      .gray-rounded-corners.gray-rounded-block-2
        p Мы&nbsp;формулируем миссию проекта так:
        p.large.
          Развитие гражданского общества в&nbsp;России за&nbsp;счёт активизации механизмов общественного контроля и&nbsp;самоорганизации
        p(style="margin-top: 30px;")
          | Как мы&nbsp;собираемся действовать? Смотрите следующие разделы: 
          a(href="/About/Goals") Цели и&nbsp;задачи
          |  и&nbsp;
          a(href="/About/Perspective") Перспектива.