.row-fluid
  .span8
    p.
      Мы&nbsp;предлагаем сотрудничество <b>экспертам</b>&nbsp;&mdash; тем, кто готов предлагать решения для социальных проблем, а&nbsp;также <b>IT-
      специалистам</b>&nbsp;&mdash; тем, кто способен вместе с&nbsp;нами реализовывать движок принципиально новой web-технологии.
      Мы&nbsp;предлагаем несколько причин, почему это может быть интересно Вам. Пишите нам на&nbsp;<a href="mailto:feedback@wikisocium.ru">feedback@wikisocium.ru</a>!
.row-fluid
  .span6
    h1 Экспертам
    p.
      Эксперты <span class="orange">ВикиСоциума</span>&nbsp;&mdash; ключевые игроки в&nbsp;создаваемом 
      сообществе. Но&nbsp;главные роли принадлежат членам команды &mdash;
      тем, кто участвует в&nbsp;первичном наполнении коллекции. Мы 
      приглашаем Вас вместе заложить крепкий фундамент проекта.
    ul.orangedot
      li: p.
        <b>Юристам</b>. Для Вас это возможность заработать 
        неоспоримую репутацию у&nbsp;Вашей целевой аудитории и 
        предложить ей&nbsp;свои услуги. Или Ваш хлеб&nbsp;&mdash; типовые 
        случаи, которые можно описать в&nbsp;решениях?
      li: p.
        <b>Гражданским активистам и&nbsp;НКО</b>. ВикиСоциум позволит 
        привлечь больше людей к&nbsp;Вашей деятельности. Вы&nbsp;можете 
        чётко сформулировать свой ответ на&nbsp;вопрос &laquo;что делать&raquo;? 
        Мы&nbsp;можем быть полезны друг другу!
      li: p.
        <b>Политикам</b>. Мы&nbsp;устали от&nbsp;красивых слов. ВикиСоциум&nbsp;&mdash; это 
        место, где политика реальных дел не&nbsp;останется 
        незамеченной.
      li: p.
        <b>Чиновникам</b>. ВикиСоциум&nbsp;&mdash; механизм непосредственной
        обратной связи с&nbsp;населением. С&nbsp;нашей помощью Вам будет 
        проще отлично делать свою работу!
  .span6
    h1 IT-специалистам
    p.
      <span class="orange">ВикиСоциум</span>&nbsp;&mdash; сложный и&nbsp;многоплановый IT-проект, 
      требующий серьёзных усилий и&nbsp;сплочённой команды. Мы 
      работаем на&nbsp;общественных началах и&nbsp;можем оплачивать Вашу 
      работу только из&nbsp;пожертвований. Но&nbsp;есть другие, кроме денег, 
      причины влиться в&nbsp;команду разработки <span class="orange">ВикиСоциума</span>:    
    ul.orangedot
      li: p.
        <b>Уникальный инструмент</b>. Мы&nbsp;создаём&nbsp;то, чего в&nbsp;Сети ещё 
        не&nbsp;было: движок wiki-wizards, механизм пошаговых 
        решений 2.0. Он&nbsp;будет востребован не&nbsp;только на 
        ВикиСоциуме, вместе с&nbsp;разработавшей его командой.
      li: p.
        <b>Интересные технологии</b>. Асинхронный сервер на&nbsp;JavaScript
        (Node.js) и&nbsp;нереляционная&nbsp;БД (MongoDB). И&nbsp;это только 
        начало: нас ждут надстройки вики-движка и&nbsp;онлайн-
        конструктор решений! Бронза на&nbsp;памятники 
        проектировщикам&nbsp;UI будет отдельной строкой бюджета.
      li: p.
        <b>Нелишняя строка резюме</b>. Мы&nbsp;надеемся, что у&nbsp;Вас не&nbsp;будет 
        ни&nbsp;малейших причин скрывать работу в&nbsp;нашей команде от 
        будущих работодателей.
