.row-fluid(style="margin: 10px auto;")
  .span12
    p
      | Главная идея <span class="orange">ВикиСоциума</span>&nbsp;&mdash; помочь создавать здоровое общество без указки и&nbsp;поддержки &laquo;сверху&raquo;.
      br
      | Так будет строиться и&nbsp;сам <span class="orange">ВикиСоциум</span>: его содержание будете определять Вы. Наш план&nbsp;&mdash; трёхэтапная викификация:

.row-fluid(style="margin-bottom: 30px;")
  .span4
    h1
      span.orange Шаг 1
      | : пользователи-эксперты
    ul.orangedot
      li: p.
        Предоставление пользователям 
        возможности <b>создавать и 
        редактировать</b> текстовые <b>описания 
        решений</b>. Таким описанием можно 
        будет воспользоваться&nbsp;&mdash; как 
        решением из&nbsp;одного шага.
      li: p.
        Разграничение <b>прав доступа</b>: автор 
        описания сможет сам решать, кому 
        давать возможность его 
        редактировать. По&nbsp;умолчанию такая 
        возможность есть только у&nbsp;него и&nbsp;у 
        модератора.
      li: p.
        Возможность для пользователя 
        объявить себя <b>экспертом</b> (создателем 
        решений), а&nbsp;для других пользователей 
        &mdash;&nbsp;<b>оценивать</b> профессионализм 
        эксперта. Таким образом, эксперт 
        может заработать себе репутацию.
  .span4
    h1
      span.orange Шаг 2
      | : пользователи-модераторы
    ul.orangedot
      li: p.
        Внедрение механизма проведения 
        <b>выборов модераторов</b> всех уровней 
        на&nbsp;основе прямого голосования 
        активных пользователей (аналогично 
        Wikipedia).
      li: p.
        Выбранные модераторы получают 
        возможность <b>редактировать решения</b> 
        и&nbsp;категории, <b>классифицировать</b>
        решения (назначать категории), в 
        особых случаях&nbsp;&mdash; <b>отстранять</b> других 
        пользователей от&nbsp;работы на 
        <span class="orange">ВикиСоциуме</span>.
  .span4
    h1
      span.orange Шаг 3
      | : пользователи-инженеры
    ul.orangedot
      li: p.
        Предоставление пользователям 
        возможности <b>создавать 
        полнофункциональные</b> пошаговые
        решения с&nbsp;помощью специального 
        онлайн-приложения: <b>конструктора 
        решений</b>.
      li: p.
        Решения могут создаваться на&nbsp;основе 
        сделанных экспертами описаний: 
        <b>описание</b> и&nbsp;<b>конструирование</b> могут 
        делать <b>разные люди</b>.
      li: p.
        Возможность для пользователя 
        объявить себя <b>инженером</b>, а&nbsp;для 
        других пользователей&nbsp;&mdash; <b>оценивать</b>
        качество исполнения решений. Так 
        инженер может заработать себе 
        репутацию.
