.row-fluid
  .span8
    a(name="nothingworks")
    h1(style="margin-top: 10px;") Никакие механизмы у&nbsp;нас не&nbsp;работают: сначала нужно менять законы, суды и&nbsp;чиновников!
    p.
      Во-первых, это не&nbsp;так: именно для того, чтобы доказать Вам это, мы&nbsp;собираем статистику использования решений. А&nbsp;во-вторых&nbsp;&mdash; конечно нужно, кто 
      бы&nbsp;спорил. Но&nbsp;они не&nbsp;поменяются сами собой. Единственный стимул для власти что-то менять&nbsp;&mdash; давление &laquo;снизу&raquo;. Мы&nbsp;можем сделать такое 
      давление постоянным и&nbsp;конструктивным: для этого просто нужно требовать&nbsp;то, на&nbsp;что мы&nbsp;и&nbsp;так имеем право. Как это делать&nbsp;&mdash; именно об&nbsp;этом мы&nbsp;и 
      собираем информацию на&nbsp;ВикиСоциуме. И, пусть не&nbsp;сразу, но&nbsp;мы&nbsp;обязательно добьёмся своего. Главное&nbsp;&mdash; не&nbsp;молчать и&nbsp;не&nbsp;опускать руки.
    a(name="notime")
    h1 У&nbsp;меня нет времени заниматься этим!
    p.
      Нас приучили к&nbsp;тому, что любое общественное действие требует много времени и&nbsp;при этом не&nbsp;гарантирует результата. Не&nbsp;правда&nbsp;ли, удобно для
      некомпетентной и&nbsp;коррумпированной бюрократии? И&nbsp;зачем что-то менять, если все молчат?
      Между тем, во&nbsp;многих случаях всё отнюдь не&nbsp;так сложно: нужно только знать, что и&nbsp;как делать. Мы&nbsp;на&nbsp;ВикиСоциуме не&nbsp;только рассказываем Вам об 
      этом, но&nbsp;и&nbsp;стараемся максимально сэкономить Ваше время: скажем, подготовка обращения нужной формы займёт у&nbsp;Вас считанные минуты. Более 
      того, с&nbsp;развитием электронных средств связи появляются возможности для отправки официальных запросов и&nbsp;обращений, даже не&nbsp;выходя из&nbsp;дома! 
    a(name="betterathome")
    h1 Лучше не&nbsp;высовываться: сам&nbsp;же первый и&nbsp;получу!
    p.
      Так, наверное, думает каждый из&nbsp;нас. На&nbsp;самом деле Вы&nbsp;&mdash; не&nbsp;один, и, главное, Вы&nbsp;&mdash; в&nbsp;своём праве. Даже если нас пока мало, сделайте первый шаг &mdash;
      и&nbsp;с&nbsp;помощью ВикиСоциума остальные увидят, что они не&nbsp;одни. Мы&nbsp;же будем работать над тем, чтобы Вам было проще объединяться.

  .span4
    p(style="margin-top: 10px;"): a(href="#nothingworks") Никакие механизмы у&nbsp;нас не&nbsp;работают: сначала нужно менять законы, суды и&nbsp;чиновников!
    p: a(href="#notime") У&nbsp;меня нет времени заниматься этим!
    p: a(href="#betterathome") Лучше не&nbsp;высовываться: сам&nbsp;же первый и&nbsp;получу!
