.row-fluid
  .span10
    h1 Кто мы такие и на кого работаем?
    p.
      Мы&nbsp;надеемся, что работаем на&nbsp;благо своей страны. Мы&nbsp;не&nbsp;связаны ни&nbsp;с&nbsp;какой государственной или коммерческой 
      организацией, не&nbsp;принадлежим ни&nbsp;к&nbsp;одной политической партии или движению. 
    p Мы&nbsp;работаем на&nbsp;общественных началах, и&nbsp;Вы можете нам 
      a(href="/About/Help") помочь
      | . 
    p Вы&nbsp;&mdash; IT-менеджер, разработчик, дизайнер, верстальщик, модератор, тестировщик? Есть как минимум 
      a(href="/About/Help") 3&nbsp;причины
      |  присоединиться к&nbsp;нашей команде!
.row-fluid.team-faces
  .span4
    div.photo: img(src="/pictures/team-faces/Daniel.jpg")
    div.name Даниил Каневский
    div.role Автор сценария и режиссёр
  .span4
    div.photo: img(src="/pictures/team-faces/Andrey.jpg")
    div.name Андрей Некрасов
    div.role Эксперт
  .span4
    div.photo: img(src="/pictures/team-faces/Sonya.jpg")
    div.name Софья Сазонова
    div.role Аналитик, контент-менеджер

.row-fluid.team-faces
  .span4
    div.photo: img(src="/pictures/team-faces/Vladimir.jpg")
    div.name Владимир Кукушкин
    div.role Руководитель команды разработки
  .span4
    div.photo: img(src="/pictures/team-faces/Denis.jpg")
    div.name Денис Сумин
    div.role Администратор, разработчик
  .span4
    div.photo: img(src="/pictures/team-faces/Vika.jpg")
    div.name Вика
    div.role Дизайнер

.row-fluid.team-faces
  .span4
    div.photo: img(src="/pictures/team-faces/Zaff.jpg")
    div.name Николай Завгородний
    div.role Разработчик
  .span4
    div.photo: img(src="/pictures/team-faces/Helen.jpg")
    div.name Елена Макарова
    div.role Разработчик
  .span4
    div.photo: img(src="/pictures/team-faces/Ok.jpg")
    div.name Ольга Комиссарова
    div.role Дизайнер


.row-fluid.team-faces
  .span4
    div.photo: img(src="/pictures/team-faces/Dima.jpg")
    div.name Дмитрий Листвин
    div.role Разработчик
