* {
  font-family: Arial, Tahoma;
  font-size: 12pt;
  line-height: 130%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 { font-size: 22pt; margin-top: 20pt; margin-bottom: 14pt;  }
h2 { font-size: 20pt; margin-top: 18pt; margin-bottom: 12pt; }
h3 { font-size: 18pt; margin-top: 14pt; margin-bottom: 10pt; }
h4 { font-size: 16pt; margin-top: 12pt; margin-bottom: 8pt; }
h5 { font-size: 14pt; margin-top: 10pt; margin-bottom: 6pt; }
h6 { font-size: 12pt; margin-top: 8pt; margin-bottom: 4pt; }

p {
  margin-top: 6pt; margin-bottom: 2pt;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: 1px #ccc solid;
  padding: 3px 5px; 
}

#header {
  border-bottom: 1px solid #ccc;
  height: 90px;
}

a.header-logo:link, a.header-logo:visited, a.header-logo:hover, a.header-logo:active {
  text-decoration: none;
}

#header-menu {
  float: left;
  left: 230px;
  position: absolute;
}

#header-menu ul {
  margin: 0;
  padding: 0;
}

#header-menu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 40px 10px 30px 15px;
}

#header-menu a {
  text-decoration: none;
}

#header-auth {
  position: absolute;
  right: 10px;
  width: 250px;
}

#header-auth-links {
}

#header-reg-link {
  text-decoration: none;
}

#header-login-link {
}

#header-user-logged-in {
  padding: 35px 0;
}

#logout {
  left: 7px;
  position: relative;
}

form.users {
  width: 500px;
  overflow: hidden;
  padding: 2px;
}

form.users input, form.users label {
  margin: 2px;
  padding: 2px;
}

form.users .formLine {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

form.users .formline label {
  float: left; 
  width: 60px;
  text-align: right;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

form.users input[type=text], form.users input[type=password] {
  width: 200px;
  background: #fff;
  border: 1px solid #7f9db9;
  height: 20px;
}

form.users .formText {
  width: 200px;
  background: #fff;
  border: 1px solid #7f9db9;
  height: 20px;
}
form.users input[type=submit] {
  margin-left: 73px;
  cursor: pointer;
}
form.users .formSubmit {
  margin-left: 73px;
  cursor: pointer;
  width: auto;
}
* html input {/* хак для ие6, котрый поможет ему понять типы селекторов */
  z-index: expression(
  runtimeStyle.zIndex = 1,
  type == "text" ? (className = "formText") : 0,
  type == "password" ? (className = "formText") : 0,
  type == "submit" ? (className = "formSubmit") : 0
  )
}

.btn { margin-right: 5px; }

/* LAYOUT STYLES */

body {  
  min-width: 760px;
  color: #6e6e6e;
}

a:link, a:visited {
  color: #34b0bf;
  text-decoration: underline;
}

a:hover, a:active {
  color: #34b0bf;
  text-decoration: underline;
}

#logo {
  background-image: url(/img/logo.png);
  background-repeat: no-repeat;
  background-position: left center;
  height: 116px;
}

#heading {
  background-color: #cccccc;
  background: url(/img/bgheader.png) repeat-x;
  height: 116px;
  border-bottom: 1px solid grey;
}

#heading-stat {
  text-align: center;
  font-size: 11pt;
  padding-top: 40px;
}

#heading-login-form{
  padding-top: 30px;
  text-align: right;
}

#menu {
  background-color: lightgrey;
  background: url(/img/bgmenu.png) repeat-x;
  height: 58px;
}

a.menu-element {
  color: #777;
  font-size: large;
  margin: 17px 50px 2px 0px;
  font-weight: bold;
  vertical-align : middle;
  float: left;
  display: block;
  text-decoration: none;
}

.orange {
  color: #f7941e;
}

#content {
  min-height: 600px;
  padding: 15px 30px;
  margin-top: 30px;
}

#main-block {
  margin-top: 30px;
  margin-bottom: 50px;
}

#right-block {
  margin-top: 30px;
  padding: 20px;
}

.wikiBlock {
  -moz-border-radius: 5px; /* Для Firefox 3 */
  -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
  border-radius: 5px; /* Для современных браузеров */
  background: #ffffff; /* Старые браузеры */
  background: -moz-radial-gradient(#ffffff, #f9f9f9); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0, center center, 100%, 
              color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome, Safari4+ */
  background: -webkit-radial-gradient(#ffffff, #f9f9f9); /* Chrome 10+, Safari 5.1+ */
  background: -o-radial-gradient(#ffffff, #f9f9f9); /* Opera 12 */
  background: -ms-radial-gradient(#ffffff, #f9f9f9); /* IE10 */
  background: radial-gradient(#ffffff, #f9f9f9); /* CSS3 */
  border: 1px solid #d2d2d2;
}

.mainProblemBlock {
  padding-top: 20px;
  padding-bottom: 30px;
}

.mainProblemIcon{
  text-align: right;
}

.mainProblemName{
  padding-top: 12px;
}

.mainProblemStat {
  padding-top: 12px;
}

.mainStatValue {
  margin: 3px 25px 0px 2px;
}

a.problemLink {
  font-weight: bold;
  color: #6e6e6e;
  text-decoration: underline;
  font-size: 14pt;
}

.problemLinkAllProblems {
  margin-top: 25px;
}

#footer {
  margin-top: 40px;
  border-top: 1px solid #d5d5d5;
  height: 38px;
  background-image: url(/img/bgmenu.png);
}

#footer div, #footer a {
  padding-top: 12px;
  font-size: small;
}
