body {  
  min-width: 760px;
}

* {
  font-family: Arial, Tahoma;
  font-size: 12pt;
  line-height: 130%;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 { font-size: 22pt; margin-top: 20pt; margin-bottom: 14pt;  }
h2 { font-size: 20pt; margin-top: 18pt; margin-bottom: 12pt; }
h3 { font-size: 18pt; margin-top: 14pt; margin-bottom: 10pt; }
h4 { font-size: 16pt; margin-top: 12pt; margin-bottom: 8pt; }
h5 { font-size: 14pt; margin-top: 10pt; margin-bottom: 6pt; }
h6 { font-size: 12pt; margin-top: 8pt; margin-bottom: 4pt; }

p {
  margin-top: 6pt; margin-bottom: 2pt;
}

a:link, a:visited {
  color: #2275C8;
  text-decoration: underline;
}
a:hover, a:active {
  color: #F32200;
  text-decoration: underline;
}

table {
  border-collapse: collapse;
}

table th, table td {
  border: 1px #ccc solid;
  padding: 3px 5px; 
}

#header {
  border-bottom: 1px solid #ccc;
  height: 90px;
}

a.header-logo:link, a.header-logo:visited, a.header-logo:hover, a.header-logo:active {
  text-decoration: none;
}

#header-menu {
  float: left;
  left: 230px;
  position: absolute;
}

#header-menu ul {
  margin: 0;
  padding: 0;
}

#header-menu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 40px 10px 30px 15px;
}

#header-menu a {
  text-decoration: none;
}

#header-auth {
  position: absolute;
  right: 10px;
  width: 250px;
}

#header-auth-links {
}

#header-reg-link {
  text-decoration: none;
}

#header-login-link {
}

#header-login-form {
  display: none;
  padding: 18px 0;
}

#header-login-form * {
  font-size: 10pt;
}
#header-login-form input {
  margin: 2px;
  padding: 2px;
}
#header-login-form input.input-type-text {
  width: 100px;
}

#header-user-logged-in {
  padding: 35px 0;
}

#logout {
  left: 7px;
  position: relative;
}

#content {
  min-height: 600px;
  padding: 15px 30px;
}

#footer {
  border-top: 1px solid #ccc;
  height: 50px;
  padding-top: 30px;
}

#footer #copyleft {
  position: absolute;
  left: 30px;
}

#footer #about {
  position: absolute;
  right: 120px;
}

#footer #about a {
  color: #666;
}

#footer #about #help {
  position: relative;
  left: 20px;
}








form input[type=text], form input[type=password] {
  width: 200px;
  background: #fff;
  border: 1px solid #7f9db9;
  height: 18px; 
}

form.users {
  width: 500px;
  overflow: hidden;
  padding: 2px;
}

form.users input, form.users label {
  margin: 2px;
  padding: 2px;
}

form.users .formLine {
  float: left;
  width: 100%;
  margin-bottom: 5px;
}

form.users .formline label {
  float: left; 
  width: 60px;
  text-align: right;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

form.users input[type=text], form.users input[type=password] {
  width: 200px;
  background: #fff;
  border: 1px solid #7f9db9;
  height: 20px;
}

form.users .formText {
  width: 200px;
  background: #fff;
  border: 1px solid #7f9db9;
  height: 20px;
}
form.users input[type=submit] {
  margin-left: 73px;
  cursor: pointer;
}
form.users .formSubmit {
  margin-left: 73px;
  cursor: pointer;
  width: auto;
}
* html input {/* хак для ие6, котрый поможет ему понять типы селекторов */
  z-index: expression(
  runtimeStyle.zIndex = 1,
  type == "text" ? (className = "formText") : 0,
  type == "password" ? (className = "formText") : 0,
  type == "submit" ? (className = "formSubmit") : 0
  )
}

.btn { margin-right: 5px; }
