/* Steps styles */

.stepsNavigatorForm {
  margin-bottom: 0px;
}

.stepWidgets {
    margin-top: 18px;
}

.stepNextButton {
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
}

.stepNextButton .btn {
}

#steps
{}
  
.YandexMapsWidget_link,
.YandexMapsWidget_link:hover,
.YandexMapsWidget_link:active
{
  margin-left: 10px;
  display: inline-block;
}
.YandexMapsWidgetInputWS
{
    width: 300px;
}
.YandexMapsWidget_loadingIndicator
{
    position: absolute;
  
    top:50%;
    left:50%;
    
    margin-left: -16px;
    margin-top: -16px;
      
    width: 32px;
    height: 32px;
    
    z-index: 1003;
        
    background-color: transparent;
    background-image: url(../images/spinner.gif);
}

.YandexMapsWidget_mapContainer
{
    display: none;
    position: fixed;
  
    top: 0px;
    left: 0px;
    
    width: 100%;
    height: 100%;
    
    background-color: black;
    opacity: 0.75;    
    
    z-index: 1002;
}

.YandexMapsWidget_map
{
  display: block;
  position: fixed;
  
  top: 15%;
  left: 15%;
    
  width: 70%;
  height: 70%;
  
  z-index: 1004;
  
  opacity: 1.0 !important;
}
    
.documentButtons
{
    margin-right: 5px;
}

.documentOrganizationTimerResponseReceived,
.documentOrganizationTimerNoResponse,
.documentOrganizationTimerActivated,
.documentOrganizationTimer
{
    display: inline-block;
    
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.documentOrganizationTimer
{
    background-color: red;
}

.timer-activated
{
    background-color: green;
}

.documentOrganizationTimerNoResponse,
.documentOrganizationTimerResponseReceived,
.documentOrganizationTimerResponseReallyReceived,
.documentOrganizationTimerResponseNotReallyReceived
{
  width: auto;
  margin: 5px;
}
    
.documentOrganizationsRecordDescription
{
    position: relative;    
    display: none;
}

.documentOrganizationsRecordTitle,
.documentOrganizationsRecordTitle:hover
{
}

.documentOrganizationsRecordTitle span
{
    border-bottom: 1px dashed;
}

.documentOrganizationsRecordTitle:hover span
{
    border-bottom: 1px dashed;
    cursor: pointer;    
}

.documentOrganizationsRecord
{
    position:relative;
    margin-top:10px;
}

.document_view
{
    border: 1px solid black;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 39px 19px 14px;
    position: relative;
}

.document_view:after {
    content: "Текст документа";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.document_view, .document_view * {
    color: black;
    font-family: Arial;    
}

.document_container > div {
    margin-bottom: 18px;
}

.document_organizations
{
    margin-bottom: 18px;
    max-width: 300px;
}

.document_textarea
{
}

.StepsNavigator {
    bottom: 40px;
    overflow-x: auto;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 51px;
    width: 100%;
}

.StepsNavigator .container-fluid {
    margin-bottom: 10px;
}

.StepsNavigatorHead {
  background: white;
  height: 30px;
  padding: 25px 0 0 0;
  position: relative;
  z-index: 1;
}

.steps
{
}

.step
{
    background-color: #fff;
    display: block;
    margin: 65px 0 0 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.step.isInvisible
{
    display: none;
}

.stepTitle
{
    margin-bottom: 5px;
}

.stepType
{
    font-size: 12px;
    color: #aaa;
}

/* Case styles */

.caseName
{
    color: 3f3f3f;
}

.caseDescription
{
    font-size: 14px;
    color: #aaa;
}

.openURLRemoveButton,
.nextStepButton
{
    display: inline-block;
    position: relative;
    border: 1px solid #3f3f3f;
    width: auto;
    height: 25px;

    background-color: #f5f5ea;
    
    font: 12px Helvetica, sans-serif;
    color: #333;
    
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-rigth: 10px;
    
    cursor: pointer;
}

.mediaWidgetButton
{
    margin-bottom: 20px;
    margin-top: 0px;   
    margin-right: 30px; 
}

.openURLRemoveButton:hover,
.nextStepButton:hover
{
    background-color: #e4e4d9;
}

.openURLRemoveButton:active,
.nextStepButton:active
{
    background-color: #f0f0f0;
}

#endCasePopup
{
    display: none;
}

/* User styles */

.userFullName
{
    color: 3f3f3f;
}

.userStuff
{
    font-size: 14px;
    color: #aaa;
}

#cases
{
    font-size: 14px;
}

.aCase
{
    margin-top: 10px;
}

/* Widgets styles */

.widgetType,
.widgetData
{
    font-size: 14px;
    color: #aaa;

    margin-top: 5px;
}

.flash {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 1001;
  width: 400px;
  height: 130px;
  opacity: 0.75;
  background-color: #111;
}
.flash span {
  float: left;
  margin-right: 0.7em;
}
.flash .ui-corner-all {
  width: 300px;
  margin: 50px auto 0 auto;
  padding: 0 5px;
  opacity: 0.9;
  font-weight: bold;
  -moz-box-shadow: 0 0 8px #f6f6f6;
  -webkit-box-shadow: 0 0 8px #f6f6f6;
  box-shadow: 0 0 8px #f6f6f6;
}

.errorMsg
{
  color: red;
}
.mapArea
{
  width: 400px;
  height: 400px;
  margin: 10px;
}
.addressArea
{
}

.widgetGroup
{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #3F3F3F;
}

.NameText
{
    font-size: 14px;
}