/* Steps styles */

#steps
{}
  
.YandexMapsWidget_link,
.YandexMapsWidget_link:hover,
.YandexMapsWidget_link:active
{
  display: inline-block;
}

.YandexMapsWidget_map
{
  position: absolute;
  
  top:50%;
  left:50%;
  
  margin-left: -30%;
  margin-top: -30%;
    
  width: 60%;
  height: 60%;
  
  z-index: 999;
  
  opacity: 1.0;
}
    
.documentButtons
{
    margin-right: 5px;
}

.documentOrganizationTimerActivated,
.documentOrganizationTimer
{
    display: inline-block;
    
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.documentOrganizationTimer
{
    background-color: red;
}

.documentOrganizationTimerActivated
{
    background-color: green;
}
    
.documentOrganizationsRecordDescription
{
    position:relative;    
    display: none;
}

.documentOrganizationsRecorTitle,
.documentOrganizationsRecorTitle:hover
{
    font-style: italic;
}

.documentOrganizationsRecorTitle span
{
    border-bottom: 1px dashed;
}

.documentOrganizationsRecorTitle:hover span
{
    border-bottom: 1px dashed;
    cursor: pointer;    
}

.documentOrganizationsRecord
{
    position:relative;
    margin-top:10px;
}

.document_view
{
    bgcolor: #fff;
}

.document_container
{
    display: inline-block;
}

.document_organizations
{
    background-color: #f5f5ea;

    display: block;
    
    margin-left: 65%;
}

.document_textarea
{
    float: left;
    display: block;    
    width: 64%;
    height: auto;
    
    margin-bottom: 10px;
    margin-right: 10px;    
}

.step
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    
    display: block;    
}

.step.isInvisible
{
    display: none;
}

.stepTitle
{
    margin-bottom: 5px;
}

.stepType
{
    font-size: 12px;
    color: #aaa;
}

/* Case styles */

.caseName
{
    color: 3f3f3f;
}

.caseDescription
{
    font-size: 14px;
    color: #aaa;
}

.openURLRemoveButton,
.nextStepButton
{
    display: inline-block;
    position: relative;
    border: 1px solid #3f3f3f;
    width: auto;
    height: 25px;

    background-color: #f5f5ea;
    
    font: 12px Helvetica, sans-serif;
    color: #333;
    
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    margin-rigth: 10px;
    
    cursor: pointer;
}

.mediaWidgetButton
{
    margin-bottom: 20px;
    margin-top: 0px;   
    margin-right: 30px; 
}

.openURLRemoveButton:hover,
.nextStepButton:hover
{
    background-color: #e4e4d9;
}

.openURLRemoveButton:active,
.nextStepButton:active
{
    background-color: #f0f0f0;
}

#endCasePopup
{
    display: none;
}

/* User styles */

.userFullName
{
    color: 3f3f3f;
}

.userStuff
{
    font-size: 14px;
    color: #aaa;
}

#cases
{
    font-size: 14px;
}

.aCase
{
    margin-top: 10px;
}

/* Widgets styles */

.widgetType,
.widgetData
{
    font-size: 14px;
    color: #aaa;

    margin-top: 5px;
}

.flash {
  position: absolute;
  top: 30%;
  left: 20%;
  z-index: 1001;
  width: 400px;
  height: 130px;
  opacity: 0.75;
  background-color: #111;
}
.flash span {
  float: left;
  margin-right: 0.7em;
}
.flash .ui-corner-all {
  width: 300px;
  margin: 50px auto 0 auto;
  padding: 0 5px;
  opacity: 0.9;
  font-weight: bold;
  -moz-box-shadow: 0 0 8px #f6f6f6;
  -webkit-box-shadow: 0 0 8px #f6f6f6;
  box-shadow: 0 0 8px #f6f6f6;
}

.errorMsg
{
  color: red;
}
.mapArea
{
  width: 400px;
  height: 400px;
  margin: 10px;
}
.addressArea
{
}

.widgetGroup
{
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #3F3F3F;
}

.NameText
{
    font-size: 14px;
}

.CommentText
{
    font-size: 10px;
    font-style: italic;
}

.DescriptionText
{
    font-size: 10px;
}

iref
{
    font-size: 10px;
    cursor: pointer;
    text-decoration: underline;
}

/* Radio Field */
label.inputEx-RadioField-rightLabel
{
	cursor: pointer;
	display: inline;
}

}
