/* Multimedia Widget */

.MultimediaWidget #addMultimediaForm {
  background: #fafafa;
  margin-bottom: 20px;
  padding: 10px;
  width: 55%;
}


.MultimediaWidget #UploadQueue {
  background: #fafafa;
  border: 1px #ccc solid;
  display: none;
  float: right;
  left: -15%;
  padding: 3px 6px;
  position: relative;
  width: 25%;
}

.MultimediaWidget #UploadQueue .fileName {
  float: left;
  width: 40%;
}

.MultimediaWidget #UploadQueue .progress {
  margin-left: 45%;
}

.MultimediaWidget #UploadQueue .progress .bar {
  padding-left: 3px;
  text-align: left;
  width: 0%;
}

.MultimediaWidget #multimediaWidgetThumbnails {
}