.page { display: none; }
.page_active { display: block; }
.solution_search_result { color: red; }
#solutions_name { font-weight: bold; }
.step {
	color: green;
	border: 1px solid black;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -10px;
	margin-right: -10px;
	padding: 5px;
}

.short_label { font-weight: bold; background: yellow; border: 1px solid black; margin: -5px; margin-bottom: 5px; }
.text { font-style: italic; }
.input_free_text {}


