.row
  .offsethalf

    h1 Администрирование

    h2 Управление организациями
    ul
      li
        a(href='/admin/organizations/add') Добавить организацию
        
    h2 Управление текстами
    ul
      li
        a(href='/admin/texts/add') Добавить текст
