div(class="offset1")
  div(class="row")

    h1 Управление организациями
    ul
      li
        a(href='/admin/organizations/show_list') Список организаций
      li
        a(href='/admin/organizations/add') Добавить организацию
