div(class="row-fluid baseWidget "+widget.widget_type, id="step_"+step_id+"_widget_"+widget.id+"_wrapper")
  .span7.control-group
    - if (widget.label != undefined)
      label.control-label(style="text-align: left")
        - if (widget.label.name == undefined)
          | !{widget.label}
        - else
          | !{widget.label.name}
    .controls
      block content
      span.help-block
        - if (widget.label != undefined && widget.label.comment != undefined)
          !{widget.label.comment}
  - if (widget.label != undefined && widget.label.description != undefined && widget.label.description != "")
    .span5(style="max-width: 300px;")
      !=partial("InfoText", {InfoText:widget.label})