extends BaseWidget

block widget
  .span7.control-group
    - if (widget.label != undefined)
      label.control-label(style="text-align: left")
        - if (widget.label.name == undefined)
          | !{widget.label}
        - else
          | !{widget.label.name}
    .controls
      block content
      - if (widget.label != undefined && widget.label.comment != undefined)
        span.help-block
          !{widget.label.comment}
  - if (widget.label != undefined && widget.label.description != undefined && widget.label.description != "")
    .span5(style="max-width: 300px;")
      !=partial("InfoText", {InfoText:widget.label})