.page
  h2 Вход в систему
  p
    a.button(href='/users/new') Создать новый аккаунт &rarr;
  form.users#login(method='post', action='/sessions')
  
    !=partial('../users/fields', { locals: { user: user } })
    div
      label(for='remember_me') Запомнить меня:
      input#remember_me(type='checkbox', name='remember_me')
    div
      input(type='submit', value='Войти')

