.page
  h2 Вход в систему
  form.well#login(method='post', action='/sessions?return_to=#{return_to}')
  
    !=partial('../users/fields', { locals: { user: user } })
    label.checkbox
      input(type='checkbox', name='remember_me')
      Запомнить меня
    div
      input.btn(type='submit', value='Войти')
