extends ../layout

block content
  .page
    h2 Вход в систему
    p
      a.button(href='/users/new?return_to='+return_to) Создать новый аккаунт &rarr;
    form.well#login(method='post', action='/sessions?return_to='+return_to)    
      div.formline
        label(for='user-email') E-mail:
        input#user-email(name='user[email]', value=user.email || '', type='text')
      div.formline
        label(for='user-password') Пароль:
        input#user-password(name='user[password]', value=user.password || '', type='password')
      label.checkbox
        input(type='checkbox', name='remember_me')
        Запомнить меня
      div
        input.btn(type='submit', value='Войти')
