p Let's authentificate with facebook
p Here's can be button to start authentification. Yet we start automatically
p#status

script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(src="http://connect.facebook.net/en_US/all.js")
script(type="text/javascript", src="/javascripts/social_login.js")
script
  
  var social_name = 'fb';

  FB.init({
     appId: '463407673699614', cookie: true,
     status: true, xfbml: true
  });
  FB.getLoginStatus(function(response) {

    if (response.status === 'connected') {

      var uid = response.authResponse.userID;

      LoginInternally(social_name, uid, function(res) {
        if (res.uid != uid) { 
          // uid is wrong
        }
        else {
          if (res.uid == uid && res.status == 'success') {
            ReturnOnSuccessLogin( uid, social_name );
          }
          else if (res.uid == uid && res.status == 'user_not_found') {
            $('#status').html("User not found. Creating new");
            FB.api('/me', function(response) {
              $.ajax(
              {
                url: '/users.json',
                type: 'POST',
                data: 'social_name=' + social_name + '&user[fb_uid]=' + response.id + '&user[name]=' + response.first_name + '&user[surname]=' + response.last_name + '&user[email]=' + response.email,
                success: function(res) {
                  if (res.error == undefined) LoginInternally(social_name, uid, function(res) {
                    if (res.uid == uid && res.status == 'success') {
                      $('#status').html("User created. Going back to WikiSocium")
                      ReturnOnSuccessLogin( uid, social_name );
                    }
                  });
                  else if (res.error == 'email_exists') $('#status').html("E-mail already exists. Stopping creating user");
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  // To do
                }
              });
            });
          }
        }
      });
    }
    else {
      var uri = encodeURI(document.URL);
      window.location = encodeURI("https://www.facebook.com/dialog/permissions.request?app_id=463407673699614&display=popup&next="+uri+"&response_type=token&perms=user_birthday,email&fbconnect=1");
    }
  });