p Let's authentificate with vkontakte
p Here's can be button to start authentification. Yet we start automatically
p#status

script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
script(type="text/javascript", src="//vk.com/js/api/openapi.js?58")
script(type="text/javascript", src="/javascripts/social_login.js")
script
  var social_name = 'vk';

  VK.init({apiId: '3181678'});

  //FB.getLoginStatus(function(response) {
  
  VK.Auth.getLoginStatus(function(response) {

    if (response.status === 'connected') {
      var uid = response.session.mid;

      LoginInternally(social_name, uid, function(res) {
        if (res.uid != uid) { 
          // uid is wrong
        }
        else {
          if (res.uid == uid && res.status == 'success') ReturnOnSuccessLogin( uid );
          else if (res.uid == uid && res.status == 'user_not_found') {
            $('#status').html("User not found. Creating new");
            VK.Api.call('users.get', {uids: uid}, function(r) {
              response = r.response[0];
              $.ajax(
              {
                url: '/users.json',
                type: 'POST',
                data: 'social_name=' + social_name + '&user[' + social_name + '_uid]=' + response.uid + '&user[name]=' + response.first_name + '&user[surname]=' + response.last_name,
                success: function(res) {
                  if (res.error == undefined) LoginInternally(social_name, uid, function(res) {
                    if (res.uid == uid && res.status == 'success') {
                      $('#status').html("User created. Going back to WikiSocium")
                      ReturnOnSuccessLogin( uid );
                    }
                  });
                  else {
                    switch(res.error) {
                      case 'email_exists' :
                        $('#status').html("E-mail already exists. Stopping creating user");
                      break;
                      
                      default :
                        $('#status').html(JSON.stringify(res.error));
                    }
                  }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                  // To do
                }
              });
            });
          }
        }
      });
    }
    else {
      var uri = encodeURI(document.URL);
      window.location = encodeURI("https://oauth.vk.com/authorize?response_type=code&redirect_uri="+uri+"&client_id=3181678&scope=offline&display=popup");
    }
  });