div(align="center")
  <b>Акт замера температуры</b> <br><br>
div
<p>
Мы, нижеподписавшиеся, жители многоквартирного дома, расположенного по адресу: #{data.UserAddress}, составили настоящий акт, в том что был произведен замер температуры горячей воды по указанному адресу: #{data.UserAddress}, кв. #{data.FlatNumber}. 
</p>
<p>
Согласно санитарных норм (СанПиН 2.1.4.2496-09), температура горячей воды должна быть не менее 60 и не более 75 градусов в точке разбора.
Температура горячей воды: #{data.WaterTemperature} градусов.
</p>
  
div 
  <br>
  <b>Дата</b>: <br>
  <b>Подписи жильцов</b>: <br>
  <b>Расшифровка подписи</b>:
