div(class="step isInvisible", id="step_#{step.id}")
  div(class="stepTitle")
    #{step.title}
  div(class="stepType")
    #{step.type}
  br
  #widgets
    - each widget,widget_id in step.widgets
      !=partial(widget.widget_type, {widget:widget, widget_id:widget_id, step_id:step.id})
