div(class="step isInvisible", id="step_" + step_index + "")
  div(class="stepTitle")
    #{step.title}
  br
  #widgets
    script(type = 'text/javascript')
      var step#{step_index}FieldsList = [];
      var notEmptyStep = false;
    - each widget in step.widgets
      - if (stepData == "null")
        - console.log("init")
        !=partial(widget.widget_type, {widget:widget, step_id:step_index, value:widget.initial})
      - else
        !=partial(widget.widget_type, {widget:widget, step_id:step_index, value:stepData[widget.id]})
    script(type = 'text/javascript')
      groups[#{step_index}] = step#{step_index}FieldsList;
    !="<script type = 'text/javascript'>"
    - each widget in step.widgets
      - if (!(typeof(widget.change_visibility) == "undefined"))
        !="groups[" + step_index + "][\"" + widget.id + "\"].on(\"updated\", function() { var to_change = currentCaseData.ChangeVisibility(" + step_index + ", \"" + widget.id + "\", groups[" + step_index + "][\"" + widget.id + "\"].getValue()); for (var i = 0; i < to_change.length; i ++) { if (to_change[i].show == true) { groups[currentCaseData.GetStepIndexById(to_change[i].step_id)][to_change[i].widget_id].show(); } else if (to_change[i].hide == true) { groups[currentCaseData.GetStepIndexById(to_change[i].step_id)][to_change[i].widget_id].hide(); }}});"
      - if (widget.hidden == true)
        !="groups[" + step_index + "][\"" + widget.id + "\"].hide();"
    !="</script>"
