div(class="endCasePopup")
  form#endCaseForm(method="post", action="")
    fieldset
      legend Удалось ли решить проблему?
      label.radio
        input(type="radio", name="isSolved", value="yes", onchange="EndCasePopupSelectionChanged()", checked)
        | Да
      label.radio
        input(type="radio", name="isSolved", value="no", onchange="EndCasePopupSelectionChanged()")
        | Нет
    fieldset(id="endCase1")
      legend Решение верное?
      label.radio
        input(type="radio", name="isSolutionUsed", value="yes", checked)
        | Да, всё получилось благодаря этому решению
      label.radio
        input(type="radio", name="isSolutionUsed", value="no")
        | Нет, я пошёл другим путем
    fieldset(id="endCase2", style="display:none;")
      legend Решение верное?
      label.radio
        input(type="radio", name="isSolutionCorrect", value="yes", checked)
        | Да, проблема не в описании решения
      label.radio
        input(type="radio", name="isSolutionCorrect", value="no")
        | Нет, решение плохое

script
  function ShowEndCasePopup(caseName) {
    $("#endCaseForm").attr("action", "/MyCases/"+caseName.replace(/ /g,"_")+"/endCase");
    var modal_title = "Завершение дела";
    var buttons = [];
    buttons.push(new modalButton ( "Отменить", 'cancel' ) );
    buttons.push(new modalButton ( "Завершить", function() { $( "#endCaseForm" ).submit(); } ) );
    showModalWindow ( modal_title, "", buttons, "endCasePopup" );
  }
  function EndCasePopupSelectionChanged() {
    $("#endCase1").toggle();
    $("#endCase2").toggle();
  }        