div(class="endCasePopup")
  form(method="post", action="#{caseName}/endCase", id="endCaseForm")
    fieldset
      legend Удалось ли решить проблему?
      p
        input(type="radio", name="isSolved", value="yes", onchange="EndCasePopupSelectionChanged()", checked)
        &nbsp;Да
        br
        input(type="radio", name="isSolved", value="no", onchange="EndCasePopupSelectionChanged()")
        &nbsp;Нет
    fieldset(id="endCase1")
      legend Решение верное?
      p
        input(type="radio", name="isSolutionUsed", value="yes", checked)
        &nbsp;Да, всё получилось благодаря этому решению
        br
        input(type="radio", name="isSolutionUsed", value="no")
        &nbsp;Нет, я пошёл другим путем
    fieldset(id="endCase2", style="display:none;")
      legend Решение верное?
      p
        input(type="radio", name="isSolutionCorrect", value="yes", checked)
        &nbsp;Да, проблема не в описании решения
        br
        input(type="radio", name="isSolutionCorrect", value="no")
        &nbsp;Нет, решение плохое