div(class="endCasePopupShader")
div(class="endCasePopup")
  form(method="post", action="#{caseName}/endCase")
    fieldset
      legend Удалось ли решить проблему?
      p
        input(type="radio", name="isSolved", value="yes", onchange="EndCasePopupSelectionChanged()", checked)
        Да
      p
        input(type="radio", name="isSolved", value="no", onchange="EndCasePopupSelectionChanged()")
        Нет
    fieldset(id="endCase1")
      legend Решение верное?
      p
        input(type="radio", name="isSolutionUsed", value="yes", checked)
        Да, всё получилось благодаря этому решению
      p
        input(type="radio", name="isSolutionUsed", value="no")
        Нет, я пошёл другим путем
    fieldset(id="endCase2", style="display:none;")
      legend Решение верное?
      p
        input(type="radio", name="isSolutionCorrect", value="yes", checked)
        Да, проблема не в описании решения
      p
        input(type="radio", name="isSolutionCorrect", value="no")
        Нет, решение плохое
     p
       input(type="submit", value="Завершить")
  div(class="nextStepButton hideEndCasePopupButton", onClick="HideEndCasePopup()") закрыть
