.row.mainProblemBlock
  .mainProblemIcon
    img(src="/images/#{aCategory.Icon}")
  .mainProblemName
    a.problemLink(href="/Categories/#{aCategory.id}") #{aCategory.Name}
  .mainProblemStat
    p
      a.problemLink(href="#") Отсутствие отопления
    p.stat-figures
      img(src="/images/solved.png")
      span.mainStatValue 6
      img(src="/images/inprocess.png")
      span.mainStatValue 15
      img(src="/images/notsolved.png")
      span.mainStatValue 8
    p.problemLinkAllProblems
      a(href="#") Ещё 158 проблем
