p Как использовать:
p /UserData/:UserName//////
p /UserData/:UserName/:CaseId
br
br
Сейчас добавлен пользователь TestUser, у которого заведен один кейс — TestCase, име, поэтому доступны адреса:
p /UserData/TestUser
p /UserData/TestUser/TestCase
br
br
Формат кейсов предлагается видоизменять до того момента, как они не станут удовлетворять нашим потребностям, и TestCase не является отлитым в бронзе. Главное чтобы только ничего не отвалилось :)
