block content
    - if (InfoText.name!=undefined)
        div(class="NameText")
            !{InfoText.name}
    - if (InfoText.comment!=undefined)
        div(class="CommentText")
            !{InfoText.comment} 
    - if (InfoText.description!=undefined)
        div(class="DescriptionText")
            !{InfoText.description}               
