block content
    - if (InfoText.name!=undefined)
        div(class="NameText")
            !{InfoText.name}
    - if (InfoText.comment!=undefined)
        div(class="CommentText")
            !{InfoText.comment} 
    - if (InfoText.description!=undefined)
        div(class="DescriptionText")
            !{InfoText.description}   
            script(type="text/javascript")
                $("iref").click(function()
                {
                    RegionalizedData.GetDataFromDBWithRegion('myRegion', $(this).attr("baseId"), $(this).attr("dataId"), function(data)
                    {
                        var modal_title = "Подсказка!";
                        var html="<h1>"+data.title+"</h1>"+"<p>"+data.short_descr+"<p>"+data.text;
                        var buttons = [];
                        showModalWindow ( modal_title, html, buttons, "descriptionPopup", 550, 320);
                    });
                });
