!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    script(src="/javascripts/raphael-min.js")
    script(src="/javascripts/dracula_graffle.js")
    script(src="/javascripts/jquery-1.4.2.min.js")
    script(src="/javascripts/dracula_graph.js")
    script(src="/javascripts/dracula_algorithms.js")
    script(src="/nowjs/now.js")

    script(src='/javascripts/widgets.js')
    script(src='/javascripts/case.js')

  body!= body