extends BaseWidget

block content
  div(class="mapArea", id="step#{step_id}_#{widget.id}_MapsID", style="width:600px;height:500px")
    script(type='text/javascript', src='/javascripts/customWidgets/map.js')
    script(type='text/javascript')
      $(document).ready(function () {
         var map = new MapsWidget(37.64, 55.76, document.getElementById("step#{step_id}_#{widget.id}_MapsID"));
         map.Init();
      });
