extends layout

block content
  script(type='text/javascript')
    function dynamicSort(property) { 
      return function (a,b) {
        return (a[property] < b[property]) ? -1 : (a[property] > b[property]) ? 1 : 0;
      }
    }
    function sortList(property, direction) {
      userCasesList.sort(dynamicSort(property));
      if (direction == 'desc') userCasesList.reverse();
      $('#userCasesList').html(casesListTamplate({'userCasesList':userCasesList, 'sort':property, 'direction':direction}));
    }
    var userCasesList = !{JSON.stringify(userCasesList)};
    var casesListTamplate =!{casesListTamplate};
    $(document).ready(function() {
      userCasesList.sort(dynamicSort("updateDate"));
      userCasesList.reverse();
      $('#userCasesList').html(casesListTamplate({'userCasesList':userCasesList, 'sort':"updateDate", 'direction':"desc"}));
    });
  // script
  //   $(function() {
  //     $(".user-case-list-item").mouseenter(function(){
  //       $(this).find(".hiddenbutton").css("display", "block");
  //     }).mouseleave(function(){
  //       $(this).find(".hiddenbutton").css("display", "none");
  //     });
  //   });

  #userCasesList

  #endCasePopup
    != partial('endCasePopup', {caseName: ""})