div(class="problemId")
  #{problem.id}

div(class="problemDescription")
  p
    !{problem.description}

#solutions
  - each aSolution in problem.solutions
    !=partial('aSolution', {aSolution:aSolution})
