div(class="offset1")
  div(class="row")
    h1(class="problemId")
      #{problem.id}

    div(class="problemDescription")
      p
        !{problem.description}

    #solutions
      - each aSolution in problem.solutions
        !=partial('aSolution', {aSolution:aSolution})

    #modal_window

    script(type='text/javascript', src='/javascripts/modal_window.js')    
    script(type='text/javascript')
      var modal_title = "Введите название решения";
      var modal_body;
      var buttons = [];
      buttons.push(new modalButton ( "Отменить", function() { $( this ).dialog( "close" ); } ) );
      buttons.push(new modalButton ( "Добавить", function() { $( "#addCaseForm" ).submit(); } ) );
      $(".aSolution").click( function() { modal_body = '<p><form id="addCaseForm" method="post", action="/addcasetouser/'+$(this).attr("id")+'"><input type="text" name ="case_id" /></form></p><p>Решение с этим названием будет добавлено в список ваших дел</p>'; showModalWindow ( modal_title, modal_body, buttons, 550, 285 ); } );
