h1(class="problemId")
  #{problem.id}

div(class="problemDescription")
  p
    !{problem.description}

#solutions
  - each aSolution in problem.solutions
    !=partial('aSolution', {aSolution:aSolution})
    
ul#myTab.nav.nav-tabs
  li.active <a href="#home">Home</a></li>
  li <a href="#profile">Profile</a></li>
  li <a href="#messages">Messages</a></li>
  li <a href="#settings">Settings</a></li>
 
.tab-content
  .tab-pane.active#home 123 
  .tab-pane#profile 456
  .tab-pane#messages 789
  .tab-pane#settings 101112
 
script
  $(function () {
    $('#myTab a:last').tab('show');
  })

#modal_window

script(type='text/javascript')
  var is_guest = #{user.guest}
  if (is_guest) {
    $(".useSolutionButton").click( function() {
      location.href = '/login?return_to='+document.URL;
    } );
  }
  else {
    var modal_title = "Введите название решения";
    var modal_body;
    var buttons = [];
    buttons.push(new modalButton ( "Отменить", function() { $( this ).dialog( "close" ); } ) );
    buttons.push(new modalButton ( "Добавить", function() { $( "#addCaseForm" ).submit(); } ) );
    $(".useSolutionButton").click( function() {
      modal_body = '<p><form id="addCaseForm" method="post", action="/addcasetouser/'+$(this).attr("id")+'"><input type="text" name ="case_id" /></form></p><p>Решение с этим названием будет добавлено в список ваших дел</p>';
      showModalWindow ( modal_title, modal_body, buttons, 550, 285 );
    } );
  }
