script(type='text/javascript')
  var requestedCase = !{JSON.stringify(requestedCase)};

div(class="caseName")
  #{requestedCase.name}

div(class="caseDescription")
  #{requestedCase.description}

div(class="nextStepButton showEndCasePopupButton", onClick="ShowEndCasePopup()") Завершить, нах

div(class = "steps", id = "stepsWrapper")
  - each step, i in requestedCase.steps
    - if (caseData == "null")
      !=partial('aStep', {step:step, stepData:"null", step_index:i})
    - else
      !=partial('aStep', {step:step, stepData:caseData[i], step_index:i})
div(class="nextStepButton", onClick="NextStep()") Следующий шаг

div(id="endCasePopup")
  != partial('endCasePopup', {caseName: requestedCase.id})