script(type='text/javascript')
  var requestedCase = !{JSON.stringify(requestedCase)};

div(class="caseName")
  #{requestedCase.name}

div(class="caseDescription")
  #{requestedCase.description}

#steps
  - each step in requestedCase.steps
    !=partial('aStep', {step:step})

div(class="nextStepButton", onClick="NextStep()") Следующий шаг