div(class="caseName")
  #{requestedCase.name}

div(class="caseDescription")
  #{requestedCase.description}

script(type="text/javascript")
  var requestedCase = !{JSON.stringify(requestedCase)};

div(class = "steps", id = "stepsWrapper")
  - each step, i in requestedCase.steps
    - if (caseData == "null")
      !=partial('aStep', {step:step, stepData:"null"})
    - else
      !=partial('aStep', {step:step, stepData:caseData[i]})
div(class="nextStepButton", onClick="NextStep()") Следующий шаг
