div.formline
  label(for='user-email') E-mail:
  input#user-email(name='user[email]', value=user.email || '', type='text')
div.formline
  label(for='user-password') Пароль:
  input#user-password(name='user[password]', value=user.password || '', type='password')
